<div class="container">
  
  <% @blog_entries.each do |blog_entry| %>
  <div class="blog-entry">
    <div class=" alert alert-warning"><h1><%= blog_entry.title %></h1></div>
    <%= blog_entry.html.html_safe %>

   </div>
    <hr/>
<% end %>
    
</div>

