div.action{
	margin-top: 30px;
	margin-left: 800px;
}

div.body{
	margin-left: 100px;
	margin-right: 100px;	
}

.name-title{
	background: transparent !important;
	color: #FFFFFF !important;
}


.body-blog{
	margin-top: 50px;
}