<!doctype html>
<style type="text/css">
	span{
		color: #D50909;
	}
</style>

<h1>Welcome to my blog! You are visiting at time: <span> <%= @currentTime %> </span></h1>



	<%= link_to "Blog", blog_entries_new_path %>
